In [39]:
import pandas as pd
import numpy as np
import os
import itertools

In [135]:
input_path1 = os.getcwd() + "/OUTPUTS_test/path.csv"
input_path2 = os.getcwd() + "/INPUTS/test_8h_10L.csv"
Output = pd.read_csv(input_path1, delimiter = ';')
Input = pd.read_csv(input_path2, delimiter = ';')
listID_in = Input['ID'].tolist()
listID_out = Output['ID'].tolist()

In [136]:
def diff(l1, l2):   # return a list of lost users
    difference = list(set(l1).symmetric_difference(set(l2)))
    return difference

In [137]:
Input

,ID,DEPARTURE,ORIGIN,DESTINATION
0,1103972,08:00:00,631535.1422327636 5803436.995133258,646022.6577849017 5787468.580633566
1,1115149,08:00:00,634129.4929278796 5798053.934760166,630781.8925280606 5800933.162112237
2,1035042,08:00:00,627636.2869598038 5804935.124059598,634339.1089068025 5793673.53040184
3,1482419,08:00:00,603903.567211128 5753372.920637062,585798.8212832647 5748437.79926028
4,1107884,08:00:00,633830.4181053555 5797059.157535477,623045.5410589064 5801054.631141664
5,1104882,08:00:00,631656.3622370602 5803194.158888644,631889.0524407397 5802822.9000578
6,1082159,08:00:00,626840.4845576547 5801443.6167761525,605262.5685096607 5755458.7069760775
7,1068917,08:00:00,628467.4701878248 5803027.810372679,628839.0794578048 5802805.310619754
8,1004465,08:00:00,633218.1255840912 5806592.060767567,630009.9025622855 5795731.260661593
9,1118776,08:00:00,635457.5195071478 5795709.989272596,634362.3799603812 5795839.954377281

In [138]:
Input.loc[indexUser, ['ORIGIN', 'DESTINATION']]

                                 ORIGIN                           DESTINATION
0   631535.1422327636 5803436.995133258   646022.6577849017 5787468.580633566
6  626840.4845576547 5801443.6167761525  605262.5685096607 5755458.7069760775
3    603903.567211128 5753372.920637062    585798.8212832647 5748437.79926028

In [139]:
def missingData(inputDataframe, missingList, listID_in, listID_out):
    missing = diff(listID_in, listID_out)
    indexUser = [Input.index[Input['ID'] == i].tolist() for i in missing]  # index of missing user
    indexUser = list(itertools.chain.from_iterable(indexUser))
    display(Input.iloc[indexUser])

In [140]:
missingData(Input, missing, listID_in, listID_out)

,ID,DEPARTURE,ORIGIN,DESTINATION
0,1103972,08:00:00,631535.1422327636 5803436.995133258,646022.6577849017 5787468.580633566
6,1082159,08:00:00,626840.4845576547 5801443.6167761525,605262.5685096607 5755458.7069760775
3,1482419,08:00:00,603903.567211128 5753372.920637062,585798.8212832647 5748437.79926028

In [141]:
def bounding(df):
    O = df.ORIGIN.tolist()  
    D = df.DESTINATION.tolist()
    l = O + D  # Concatenate 2 2D lists
    coord = np.array([x.split() for x in l])
    Xmin = min(float(x[0]) for x in coord)
    Ymin = min(float(x[1]) for x in coord)
    Xmax = max(float(x[0]) for x in coord)
    Ymax = max(float(x[1]) for x in coord)
    return Xmin, Xmax, Ymin, Ymax

In [142]:
x1,x2,y1,y2 = bounding(Input)
print('Xmin :', Xmin, 'Ymin :', Ymin, 'Xmax :', Xmax, 'Ymax :', Ymax)

Xmin : 585798.8212832647 Ymin : 5748437.79926028 Xmax : 646022.6577849017 Ymax : 5806592.060767567

In [143]:
O = Input.ORIGIN.tolist()  
D = Input.DESTINATION.tolist()
l = O + D  # Concatenate 2 2D lists
coord = np.array([x.split() for x in l])
Xmin = min(float(x[0]) for x in coord)
Ymin = min(float(x[1]) for x in coord)
Xmax = max(float(x[0]) for x in coord)
Ymax = max(float(x[1]) for x in coord)
print('Xmin :', Xmin, 'Ymin :', Ymin, 'Xmax :', Xmax, 'Ymax :', Ymax)

Xmin : 585798.8212832647 Ymin : 5748437.79926028 Xmax : 646022.6577849017 Ymax : 5806592.060767567

In [144]:
Xmax - Xmin

60223.83650163701

In [145]:
Ymax - Ymin

58154.26150728669

## Indicateurs pour les véhicules

In [148]:
input_vec = os.getcwd() + "/OUTPUTS_test/veh.csv"

In [149]:
vec = pd.read_csv(input_vec, delimiter = ";")

In [150]:
vec

,TIME,ID,TYPE,LINK,POSITION,SPEED,STATE,DISTANCE,PASSENGERS
0,08:00:00.00,2,Car,m46473661 m46476411,NaN,13.800,SERVING,0.000,1004465.0
1,08:00:00.00,1,Car,NaN,NaN,13.800,SERVING,0.000,1104882.0
2,08:00:00.00,0,Car,m46431799 m46429728,NaN,13.800,SERVING,0.000,1035042.0
3,08:01:00.00,0,Car,m46413078 m46410770,628299.190 5804632.996,11.499,SERVING,689.960,1035042.0
4,08:01:00.00,2,Car,m46470667 m4620947768,633309.387 5806213.117,11.499,SERVING,689.960,1004465.0
...,...,...,...,...,...,...,...,...,...
86,08:23:00.00,0,Car,m46009635 m573937934,634189.109 5793988.811,11.499,STOP,15755.695,NaN
87,08:23:00.00,2,Car,m46084802 m46082308,630348.707 5796114.449,11.499,STOP,15305.264,NaN
88,08:23:00.00,5,Car,m46259317 m1252468320,624490.961 5800716.001,11.499,SERVING,14488.480,1107884.0
89,08:24:00.00,5,Car,m46256638 m297316615,623807.800 5800619.205,11.500,SERVING,15178.460,1107884.0
90,08:25:00.00,5,Car,m1076987828 m1350346414,623476.606 5800583.678,11.500,STOP,15512.760,NaN

In [159]:
vec.groupby(by = 'ID')['DISTANCE','PASSENGERS'].agg(['sum','min','max'])

/var/folders/rn/l0_f8pz15050p66fqtz1164h0000gp/T/ipykernel_10451/1414701431.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  vec.groupby(by = 'ID')['DISTANCE','PASSENGERS'].agg(['sum','min','max'])

      DISTANCE                  PASSENGERS
           sum  min        max         sum        min        max
ID
0   190306.215  0.0  15755.695  23805966.0  1035042.0  1035042.0
1        0.000  0.0      0.000   1104882.0  1104882.0  1104882.0
2   189855.784  0.0  15305.264  23102695.0  1004465.0  1004465.0
3    37528.647  0.0   6482.727  11151490.0  1115149.0  1115149.0
4     3719.234  0.0   1649.494   3356328.0  1118776.0  1118776.0
5   190062.780  0.0  15512.760  25481332.0  1107884.0  1107884.0
6     1788.960  0.0   1099.060   2137834.0  1068917.0  1068917.0

In [ ]:
veh

In [158]:
speed = vec.groupby(by = 'ID')['SPEED'].mean()
print(speed)

ID
0    11.594708
1    13.800000
2    11.594708
3    11.707818
4    12.073750
5    11.594792
6    12.265333
Name: SPEED, dtype: float64

In [ ]:
# total travel time -> seconde

##

## Modifie the departure and destination point