# Missing users 9h-11h

In [5]:
import pandas as pd
import numpy as np
import os
import itertools
import random
import utm

In [10]:
input_path1 = os.getcwd() + "/OUTPUTS_9h_11h/path.csv"
input_path2 = os.getcwd() + "/INPUTS/test_9h_11h.csv"
Output = pd.read_csv(input_path1, delimiter = ';')
Input = pd.read_csv(input_path2, delimiter = ';')
listID_in = Input['ID'].tolist()
listID_out = Output['ID'].tolist()

In [11]:
def diff(l1, l2):   # return a list of lost users
    difference = list(set(l1).symmetric_difference(set(l2)))
    return difference

In [107]:
Input

,ID,DEPARTURE,ORIGIN,DESTINATION
0,1019364,09:00:00,624582.3745792772 5804534.655578803,619360.0571446231 5805160.322357742
1,958538,09:00:00,612373.9501705638 5801667.450917384,632339.2294622243 5797212.880052918
2,1015419,09:00:00,630119.0003458913 5807102.019045829,629401.457820961 5809413.341770453
3,1033909,09:00:00,627217.3355998315 5805188.024605306,627313.6303041776 5804683.771269505
4,1122860,09:00:00,633434.4205306872 5800327.508477634,632524.5993621239 5801905.183290979
...,...,...,...,...
46857,1094097,11:00:00,630629.0367625962 5801999.458889815,630982.3969120757 5802597.144638936
46858,1084155,11:00:00,625513.0253870577 5800572.022440629,627467.7036338786 5801350.716498636
46859,1236326,11:00:00,601101.0862328823 5779515.337970847,600307.3043922537 5778801.142549095
46860,1009137,11:00:00,639980.5338344915 5847537.867287946,629898.2484026412 5805817.793417794
46861,1128850,11:00:00,628537.9069909995 5799489.423956457,624386.9065062173 5794387.285581049

In [110]:
len(Input)

46862

In [104]:
def missingData(inputDataframe, listID_in, listID_out):
    missing = diff(listID_in, listID_out)
    indexUser = [Input.index[Input['ID'] == i].tolist() for i in missing]  # index of missing user
    indexUser = list(itertools.chain.from_iterable(indexUser))
    return Input.iloc[indexUser]

In [119]:
df_missing = missingData(Input, listID_in, listID_out)
df_missing

,ID,DEPARTURE,ORIGIN,DESTINATION
9930,917515,09:18:14,613738.9128652506 5818141.26617263,629243.7397205335 5804437.454238096
43780,917515,10:53:12,629243.7397205335 5804437.454238096,613738.9128652506 5818141.26617263
13668,983051,09:25:17,630285.1689666857 5823722.328112848,631435.8993262072 5823049.13385241
4350,1048595,09:07:52,622015.0947725042 5773928.925534364,626851.9692397028 5803852.636913614
31168,589845,10:24:39,691913.3587404573 5762532.257194359,687412.3284794632 5761766.715623426
...,...,...,...,...
9813,786404,09:18:01,639430.1537932879 5778427.223724365,642672.2692429221 5773995.791650763
25632,786404,10:09:22,642672.2692429221 5773995.791650763,639430.1537932879 5778427.223724365
11929,1114103,09:21:59,634526.9620972774 5798128.515459549,607382.294792387 5756226.626322996
15049,917501,09:28:00,612791.2251259275 5818655.7754812995,629088.1051609886 5803890.015116696
27341,917501,10:14:32,629088.1051609886 5803890.015116696,612791.2251259275 5818655.7754812995

In [109]:
#df.sort_values(by = 'ID')

In [15]:
def bounding(df):
    O = df.ORIGIN.tolist()  
    D = df.DESTINATION.tolist()
    l = O + D  # Concatenate 2 2D lists
    coord = np.array([x.split() for x in l])
    Xmin = min(float(x[0]) for x in coord)
    Ymin = min(float(x[1]) for x in coord)
    Xmax = max(float(x[0]) for x in coord)
    Ymax = max(float(x[1]) for x in coord)
    return Xmin, Xmax, Ymin, Ymax

In [4]:
# Highway coordinates
x, y, zone, ut = utm.from_latlon(52.33897076764408, 4.8261031256321365)
(x,y)

(624408.5720968425, 5800310.2899306165)

In [133]:
def in_out_city(df):
    O = df.ORIGIN.tolist()  
    D = df.DESTINATION.tolist()
    ID = df.ID.tolist()  ## no use
    array_O = np.array([x.split() for x in O])
    array_D = np.array([x.split() for x in D])
    coord_O = array_O.astype(float)
    coord_D = array_D.astype(float)
    # Bounding of city Amsterdam
    (xmin, ymin, xmax, ymax) = (621225.6754145394, 5795122.850697235, 635225.6754145394, 5810622.850697235)
    In = lambda x, y : x <= xmax and x >= xmin and y <= ymax and y>= ymin  # if between xmin and xmax
    Out = lambda x, y : x > xmax or x < xmin or y > ymax or y < ymin   # if not
    (in_in, in_out, out_in, out_out) = (0, 0, 0, 0)
    for i in range(len(O)):
        if In(coord_O[i][0], coord_O[i][1]) & In(coord_D[i][0], coord_D[i][1]):
            in_in+=1
        elif In(coord_O[i][0], coord_O[i][1]) & Out(coord_D[i][0], coord_D[i][1]):
            in_out+=1
        elif Out(coord_O[i][0], coord_O[i][1]) & In(coord_D[i][0], coord_D[i][1]):
            out_in+=1
        elif Out(coord_O[i][0], coord_O[i][1]) & Out(coord_D[i][0], coord_D[i][1]):
            out_out+=1
    per_in_in = (in_in / len(df))*100
    per_in_out = (in_out / len(df))*100
    per_out_in = (out_in / len(df))*100
    per_out_out = (out_out / len(df))*100
    sum_out = in_out + out_in + out_out
    return per_in_in, per_in_out, per_out_in, per_out_out, sum_out

In [134]:
(a,b,c,d,e) = in_out_city(Input)
print("in_in_city :", "{0:.0f}%".format(a), "in_out_city :", "{0:.0f}%".format(b), "out_in_city :", "{0:.0f}%".format(c), "out_out_city :","{0:.0f}%".format(d), "sum_out :", e)

in_in_city : 55% in_out_city : 11% out_in_city : 10% out_out_city : 24% sum_out : 21006

In [135]:
(a,b,c,d,e) = in_out_city(df_missing)
print("in_in_city :", "{0:.0f}%".format(a), "in_out_city :", "{0:.0f}%".format(b), "out_in_city :", "{0:.0f}%".format(c), "out_out_city :","{0:.0f}%".format(d), "sum_out :", e)

in_in_city : 0% in_out_city : 19% out_in_city : 19% out_out_city : 62% sum_out : 15250

In [101]:
##
O = Input.ORIGIN.tolist()
coord_O = np.array([x.split() for x in O])
y = coord_O.astype(float)
y[0][1]

5804534.655578803

In [18]:
##
x1,x2,y1,y2 = bounding(Input)
print('Xmin :', x1, 'Ymin :', x2, 'Xmax :', y1, 'Ymax :', y2)

Xmin : 565468.5380879932 Ymin : 773275.7797587274 Xmax : 5541622.850697235 Ymax : 5902899.484527369

In [19]:
O = Input.ORIGIN.tolist()  
D = Input.DESTINATION.tolist()
l = O + D  # Concatenate 2 2D lists
coord = np.array([x.split() for x in l])
Xmin = min(float(x[0]) for x in coord)
Ymin = min(float(x[1]) for x in coord)
Xmax = max(float(x[0]) for x in coord)
Ymax = max(float(x[1]) for x in coord)
#print('Xmin :', Xmin, 'Ymin :', Ymin, 'Xmax :', Xmax, 'Ymax :', Ymax)

Xmin : 565468.5380879932 Ymin : 5541622.850697235 Xmax : 773275.7797587274 Ymax : 5902899.484527369

In [138]:
num2 = random.uniform(621225.6754145394, 635225.6754145394)
print(num2)

621708.9514420278

In [141]:
## Modifie the departure or destination coordinate
def all_in_city(df):
    O = df.ORIGIN.tolist()  
    D = df.DESTINATION.tolist()
    l_O = [x.split() for x in O]
    l_D = [x.split() for x in D]
    (xmin, ymin, xmax, ymax) = (621225.6754145394, 5795122.850697235, 635225.6754145394, 5810622.850697235)
    In = lambda x, y : x <= xmax and x >= xmin and y <= ymax and y>= ymin  # if between xmin and xmax
    Out = lambda x, y : x > xmax or x < xmin or y > ymax or y < ymin   # if not
    in_x = lambda x: str(random.uniform(xmin, xmax)) 
    in_y = lambda y: str(random.uniform(ymin, ymax)) 
    ## Find the coordinates of the highway entrance
    for i in range(len(O)):
        if not(In(float(l_O[i][0]), float(l_O[i][1])) & In(float(l_D[i][0]), float(l_D[i][1]))):
            if In(float(l_O[i][0]), float(l_O[i][1])) & Out(float(l_D[i][0]), float(l_D[i][1])):

            elif Out(float(l_O[i][0]), float(l_O[i][1])) & In(float(l_D[i][0]), float(l_D[i][1])):

            else:
            # supprime tout

IndentationError: expected an indented block (1711961521.py, line 16)

In [140]:
O = Input.ORIGIN.tolist()
[x.split() for x in O]

[['624582.3745792772', '5804534.655578803'],
 ['612373.9501705638', '5801667.450917384'],
 ['630119.0003458913', '5807102.019045829'],
 ['627217.3355998315', '5805188.024605306'],
 ['633434.4205306872', '5800327.508477634'],
 ['638936.5085865267', '5820127.096951594'],
 ['626255.1136157031', '5803246.704181978'],
 ['633156.624022941', '5806290.24244078'],
 ['626607.0753754578', '5804374.9727834035'],
 ['627998.259583113', '5805387.702510312'],
 ['629011.2147521778', '5804799.604854093'],
 ['651823.6499216193', '5795769.941772221'],
 ['638124.2985466479', '5813252.449151918'],
 ['612028.4769526601', '5808589.190537517'],
 ['608057.6107962361', '5795614.132942132'],
 ['628769.786846441', '5801423.179996274'],
 ['611886.8291091116', '5815126.131272016'],
 ['639220.7828297943', '5797503.276700023'],
 ['639421.4630223699', '5797999.277972572'],
 ['634611.5032868218', '5818968.898751193'],
 ['627941.4103353849', '5804535.854945883'],
 ['633082.1036581361', '5806463.998059905'],
 ['635276.4655830021', '5798216.152485119'],
 ['631809.5371685349', '5802710.128018908'],
 ['618567.7480879766', '5804762.609358522'],
 ['635272.3793182835', '5799012.095213991'],
 ['630620.8874823535', '5805836.903527823'],
 ['612933.5279974171', '5816685.325546392'],
 ['652408.1593660272', '5803901.575763079'],
 ['625033.2502814039', '5788358.450516376'],
 ['634381.7208372485', '5798419.783871709'],
 ['638247.9955649393', '5798143.581900417'],
 ['628160.3926007415', '5804199.82431248'],
 ['630846.5478905899', '5808674.027767762'],
 ['633561.0341532652', '5806437.801824446'],
 ['644166.6357066745', '5774908.237684322'],
 ['625997.5494961984', '5803306.09776477'],
 ['625888.3036646352', '5803662.261725734'],
 ['646526.8358634987', '5771643.789811779'],
 ['628299.449158533', '5805680.931489928'],
 ['632938.8400786537', '5798845.95828004'],
 ['612032.7547905536', '5804499.716686375'],
 ['603178.1664524716', '5752298.809831155'],
 ['625246.8413031237', '5802940.577919023'],
 ['623529.844688207', '5805077.326677414'],
 ['627711.1563383699', '5802024.380143621'],
 ['634813.0341998354', '5798871.371249482'],
 ['631331.4729183743', '5803964.255145171'],
 ['625261.8090259141', '5802782.908768132'],
 ['592914.4926498958', '5769600.834768937'],
 ['633342.1397822982', '5817657.127139342'],
 ['634306.3529594138', '5796080.215334979'],
 ['630155.702546361', '5802492.762093486'],
 ['624874.0902371925', '5804177.18683692'],
 ['629038.858495794', '5803060.4123137435'],
 ['619229.3301083602', '5837003.410901307'],
 ['628999.1874077035', '5804087.269642342'],
 ['630103.3220238291', '5808229.405501867'],
 ['628409.6033861144', '5799148.17338459'],
 ['639169.3062390471', '5796018.135581165'],
 ['631917.6193395036', '5819367.092391738'],
 ['626431.5306641824', '5803283.288402925'],
 ['664200.0168291134', '5731791.090382879'],
 ['622820.7266749421', '5804242.812928083'],
 ['635303.8519315596', '5795785.375431038'],
 ['665409.9117523736', '5820248.726774685'],
 ['600386.4915649827', '5754606.9196734885'],
 ['625781.5138253386', '5801603.399262792'],
 ['627372.963013451', '5801296.152511149'],
 ['630492.907209907', '5801999.029545238'],
 ['622662.2099835824', '5823308.884629877'],
 ['611180.1043691805', '5791487.723692879'],
 ['623016.8895221454', '5802615.368258776'],
 ['621514.5829813262', '5801866.60700706'],
 ['626176.8003665131', '5803696.969628724'],
 ['610641.7231102149', '5805854.280496449'],
 ['606043.093873182', '5789300.526388084'],
 ['626736.8402382516', '5785769.181425099'],
 ['623715.7312527746', '5811275.93359036'],
 ['634578.5984217441', '5799074.655959907'],
 ['664835.5387796811', '5782406.526879377'],
 ['628131.6552529512', '5808569.895433212'],
 ['632959.3502755138', '5799907.515698541'],
 ['627594.7430990619', '5797234.051962177'],
 ['611328.1940171609', '5804213.706404544'],
 ['630297.2140470032', '5808025.492808994'],
 ['644462.3485738215', '5789910.781777308'],
 ['635271.4742056201', '5796085.547046468'],
 ['650552.0243184371', '5805061.313742876'],
 ['632980.1278699988', '5800103.512667768'],
 ['624102.2663643308', '5811993.624489635'],
 ['628368.7115969469', '5805810.439266812'],
 ['644732.9778476804', '5771248.517068982'],
 ['631530.37746312', '5802201.898600463'],
 ['611294.5319570311', '5819739.560988494'],
 ['630953.3987583996', '5803920.702466171'],
 ['630459.7632726529', '5801963.835827253'],
 ['621561.37374391', '5802161.679859771'],
 ['613348.332087194', '5805058.920212117'],
 ['624731.6646415292', '5795131.978005004'],
 ['627579.7475765253', '5799411.296858033'],
 ['648091.8064155095', '5804687.248397008'],
 ['589913.9718994052', '5765053.1262804605'],
 ['602137.7614373238', '5751035.589401979'],
 ['630152.3845216504', '5804004.20299961'],
 ['630625.6180374749', '5802143.922653051'],
 ['633926.2003076664', '5798907.920056041'],
 ['610837.1880255594', '5756778.56301077'],
 ['627302.5630518814', '5801424.885222984'],
 ['626612.276297984', '5803686.152200291'],
 ['627541.9791472452', '5799645.016439527'],
 ['610972.9625863701', '5804944.578997556'],
 ['604232.4161993333', '5787009.24646765'],
 ['674008.5714986095', '5766939.3437179895'],
 ['632162.8315857706', '5806960.654738077'],
 ['591407.3801742104', '5772650.59320083'],
 ['633571.4953950426', '5801297.771868638'],
 ['626035.8108763464', '5803524.289079979'],
 ['628720.5934792301', '5801530.167496028'],
 ['613286.5270996309', '5819469.367619478'],
 ['633207.4083419155', '5806269.4613145655'],
 ['632507.9630677591', '5798967.434148523'],
 ['634638.7696246183', '5798053.056537562'],
 ['633138.0828218011', '5797743.755345418'],
 ['627339.131328298', '5786206.883705439'],
 ['622534.1840212073', '5804493.212039979'],
 ['604249.3407755732', '5804374.147619395'],
 ['610063.9579582578', '5813462.355571165'],
 ['644054.323943482', '5742951.307641223'],
 ['628003.5075687285', '5805010.770767965'],
 ['629182.2118138445', '5801569.683618644'],
 ['622309.477087811', '5795980.005438486'],
 ['630521.2686970171', '5803225.160508804'],
 ['649407.5600198479', '5765163.807048645'],
 ['622888.111225921', '5804403.767677326'],
 ['627867.3140027025', '5802495.255129075'],
 ['648831.003188815', '5840709.512708241'],
 ['638454.1809262855', '5836178.445303758'],
 ['625567.1470338012', '5811974.255972466'],
 ['634974.9426295089', '5797785.659058259'],
 ['625122.5326503762', '5789755.936502163'],
 ['627541.8412069752', '5803962.737402729'],
 ['623852.6207652297', '5834552.209969778'],
 ['624833.4171589247', '5810551.233513791'],
 ['623552.016509687', '5805159.316351284'],
 ['628342.3703132055', '5806065.53438592'],
 ['626156.9617059259', '5801858.1204601955'],
 ['623761.7406989506', '5800840.864834548'],
 ['639820.703217749', '5797747.264998109'],
 ['648948.981752978', '5789714.663473089'],
 ['628843.0678153241', '5804972.963837144'],
 ['633392.8123086608', '5806509.191018397'],
 ['631821.8807218724', '5802096.784791502'],
 ['629846.9443391945', '5801069.5717427395'],
 ['626315.5065888045', '5803826.771474381'],
 ['610596.800881044', '5831466.880302322'],
 ['627315.6264211131', '5802106.042879026'],
 ['624611.8263348142', '5802364.840808112'],
 ['605197.4815687843', '5757960.15022778'],
 ['628031.6209464825', '5829533.568219972'],
 ['625751.7764882604', '5810972.8597325515'],
 ['629192.6925199328', '5802617.477834185'],
 ['601027.3778444234', '5755838.745120414'],
 ['626423.0089536919', '5805470.3331606025'],
 ['612768.4757661076', '5802657.4303973345'],
 ['628022.4132318937', '5801494.003440106'],
 ['630374.8769262608', '5810027.952240592'],
 ['627833.9511917814', '5803181.091867987'],
 ['602146.9445934414', '5758056.12164634'],
 ['631368.3697877388', '5801651.265877053'],
 ['633230.4846870813', '5797779.9233728545'],
 ['627722.3824869914', '5791445.546408124'],
 ['633169.3889301674', '5798627.39973545'],
 ['623472.1075258676', '5801474.246462537'],
 ['624511.7286948', '5804493.063569466'],
 ['633533.0048371074', '5797444.703785619'],
 ['626655.6008452224', '5803807.043657346'],
 ['629996.0991886872', '5805966.836064921'],
 ['626368.6131334298', '5801916.91127966'],
 ['632323.527304189', '5807448.323433972'],
 ['627664.4190694216', '5803646.420651498'],
 ['627227.6299938658', '5803244.9308537105'],
 ['624317.9577138752', '5814584.954335098'],
 ['628384.9600822123', '5799146.893696028'],
 ['606558.5994772484', '5755513.915342499'],
 ['629980.9712405129', '5803206.650061499'],
 ['600276.0471692188', '5782889.197825632'],
 ['612482.345792193', '5807322.179487778'],
 ['626762.8541638515', '5801888.745939505'],
 ['624621.0486019611', '5793617.8995263735'],
 ['650651.3075046894', '5762316.250969063'],
 ['632795.8140083316', '5799131.122763344'],
 ['600914.2106461563', '5755160.445803114'],
 ['626048.5899658102', '5802363.108546048'],
 ['627591.4995271332', '5801094.063789078'],
 ['614116.6805356544', '5795288.647065147'],
 ['621812.1893556331', '5804897.507575983'],
 ['628892.7908742193', '5801840.365793345'],
 ['596103.1719061963', '5762986.223687061'],
 ['622668.637320609', '5803204.292158354'],
 ['628168.0951219453', '5805264.6985153835'],
 ['622257.1647018332', '5813302.702157989'],
 ['623281.1359070411', '5812716.40831242'],
 ['612294.3110450726', '5779142.912885067'],
 ['617123.9710717518', '5791404.066632473'],
 ['625247.3827398338', '5804803.759963553'],
 ['625596.4546340564', '5811608.706556533'],
 ['590617.3139912821', '5765906.951376232'],
 ['629298.8799615786', '5802237.317390266'],
 ['629006.7021673747', '5808393.467922064'],
 ['624443.177270293', '5804286.991151822'],
 ['628843.9600324114', '5809877.671744857'],
 ['626480.5929567572', '5802437.22137357'],
 ['591892.9113479698', '5768206.19253336'],
 ['613025.7504291625', '5817551.53908308'],
 ['647445.852584266', '5793890.447605948'],
 ['634283.2704619423', '5798270.291459908'],
 ['627431.214803505', '5804891.065133385'],
 ['629173.616887728', '5804323.402732613'],
 ['611879.2156709984', '5806387.050719568'],
 ['626526.3629618431', '5804230.800766341'],
 ['624739.0896657985', '5804098.9513433315'],
 ['631979.1595026103', '5803628.227676719'],
 ['622780.7958831402', '5802887.494026245'],
 ['627286.4690567292', '5804634.123451084'],
 ['630493.3078233176', '5806619.550712002'],
 ['627198.852017128', '5805081.977054056'],
 ['638991.4855175414', '5797933.363187567'],
 ['626033.4678367323', '5803403.8489592215'],
 ['626864.0473382514', '5802034.660882473'],
 ['630962.1536747708', '5802308.134987602'],
 ['626038.6775997556', '5801867.76527138'],
 ['626426.7068960103', '5802966.0393856345'],
 ['634615.6269022732', '5798489.750364238'],
 ['629531.4240374954', '5800678.768436644'],
 ['627998.7304091628', '5806150.3142933175'],
 ['628515.992128415', '5799566.166681886'],
 ['648820.7229597302', '5793437.675025979'],
 ['625087.687659551', '5802150.920967831'],
 ['614113.8255303119', '5777831.002774907'],
 ['623821.3871062903', '5804654.489946301'],
 ['631769.0535887275', '5802824.463851498'],
 ['626029.0691180635', '5804898.886882069'],
 ['634257.9506599839', '5801837.246469401'],
 ['604249.4846317323', '5803605.350887038'],
 ['612120.970937237', '5809066.812953127'],
 ['624848.812740294', '5799162.217986692'],
 ['627346.3675645548', '5802362.748000136'],
 ['624619.322304963', '5805349.415229041'],
 ['588459.8146906536', '5773889.83480088'],
 ['633865.3833364318', '5795298.021886943'],
 ['632297.2150859837', '5803156.895058552'],
 ['681894.9316430613', '5781030.258788446'],
 ['628636.7060591739', '5801162.99405093'],
 ['627482.5653016004', '5799352.495758561'],
 ['619826.4905751196', '5818281.81742085'],
 ['621716.7483002157', '5813806.580510524'],
 ['622177.4020372375', '5805210.532964361'],
 ['631523.9739462549', '5820203.245273733'],
 ['633290.8790298693', '5796174.387642828'],
 ['622906.903205762', '5804569.454780631'],
 ['624255.1371616211', '5802784.088892792'],
 ['626194.5180328281', '5805402.668187222'],
 ['624499.4048114163', '5805062.41841127'],
 ['625304.7718610157', '5812307.2541634645'],
 ['623964.9423233208', '5800613.9360775'],
 ['652961.8668462506', '5805419.137798773'],
 ['595404.770861089', '5751970.910214844'],
 ['600141.6366877515', '5779994.310876844'],
 ['630338.7902520561', '5802083.928082294'],
 ['626989.0514981733', '5804132.534562844'],
 ['624640.4489057219', '5805291.122512351'],
 ['623717.9059512208', '5805268.99388613'],
 ['624796.2393787066', '5804977.94959934'],
 ['640217.7015135218', '5842714.64093376'],
 ['621844.2050084358', '5793239.155171266'],
 ['623927.4889721371', '5804986.79271439'],
 ['628581.0737286004', '5804901.0150839295'],
 ['622682.9501158076', '5802041.293089752'],
 ['614753.0667480185', '5738535.334228226'],
 ['632135.5152125573', '5802282.45075484'],
 ['623642.9096820258', '5834148.3629013775'],
 ['593763.086509538', '5763503.211672356'],
 ['634538.2827150554', '5799002.169276001'],
 ['619508.7293981307', '5792977.072963188'],
 ['631284.342095581', '5798868.2623471655'],
 ['610685.7783788391', '5807435.483091238'],
 ['588179.4895267081', '5774207.629612367'],
 ['626526.4378125344', '5804689.994854546'],
 ['639326.1205043846', '5818206.373933453'],
 ['635253.1573319206', '5798939.5101081645'],
 ['634888.1314807432', '5797799.653659958'],
 ['626514.7684370257', '5803493.146760458'],
 ['609808.6486168011', '5800839.538536654'],
 ['624285.5568659891', '5793200.14341073'],
 ['625249.2921415133', '5802002.1629129285'],
 ['585753.4931891032', '5759380.299091874'],
 ['614971.889484177', '5829222.755137533'],
 ['614201.8416203196', '5801551.58944879'],
 ['632355.1711387788', '5807644.8495459305'],
 ['633507.4036100635', '5806394.062808489'],
 ['625127.1827748674', '5801533.942045881'],
 ['647447.7793997554', '5769926.974274706'],
 ['638461.7856592172', '5793618.893032987'],
 ['630069.8773911486', '5807850.915151869'],
 ['626176.4874537757', '5801964.618389118'],
 ['632280.6755187932', '5800531.409751321'],
 ['627971.7123910612', '5804577.181003605'],
 ['635523.773389741', '5798124.718597628'],
 ['634177.4147029582', '5795888.403743338'],
 ['639378.3097253522', '5796448.137966643'],
 ['647873.8883392077', '5786650.8209236255'],
 ['634189.1810576725', '5796367.351305405'],
 ['705647.4182647803', '5784900.841615842'],
 ['629748.7627408949', '5803369.095983881'],
 ['634453.7016378653', '5798236.537764494'],
 ['633823.169734381', '5798888.369170993'],
 ['627653.4588724826', '5799924.572247824'],
 ['645010.1603696151', '5772450.641712975'],
 ['627950.3654304967', '5803034.234970985'],
 ['643729.4354088395', '5771547.705155407'],
 ['631928.5482901379', '5802335.765761395'],
 ['619357.1333586591', '5788479.029477478'],
 ['630528.7033851995', '5805280.095213591'],
 ['622494.5188358619', '5765756.401047324'],
 ['629906.2848981275', '5800838.207038355'],
 ['627607.9118776501', '5803590.554854215'],
 ['631290.4352509892', '5841354.861846516'],
 ['640696.7447531903', '5836768.28218004'],
 ['629535.8696664472', '5801180.3460211335'],
 ['628074.9012628833', '5804415.616416993'],
 ['602533.0269711479', '5775140.336134838'],
 ['669149.5360704035', '5783090.044877315'],
 ['626981.5547370735', '5802843.224337788'],
 ['629846.8933520596', '5805339.7258951515'],
 ['630257.5389835242', '5802339.86135335'],
 ['630475.2355686172', '5806700.545344471'],
 ['613741.2255474932', '5796920.651194734'],
 ['631464.9163294871', '5804103.355169093'],
 ['633267.4443274636', '5817484.966840382'],
 ['606314.3486415151', '5757695.827697594'],
 ['625786.6496402519', '5806692.477726225'],
 ['682308.4852555232', '5783796.062766843'],
 ['589859.1516940452', '5773098.579241211'],
 ['631634.9726701975', '5806859.482414495'],
 ['623598.3301959488', '5802280.700267371'],
 ['630243.5501854684', '5803063.855746716'],
 ['653607.0088404913', '5807851.719726915'],
 ['634444.6484913523', '5797605.761142166'],
 ['601914.2048472837', '5755984.688557966'],
 ['631129.7353089369', '5804626.240030455'],
 ['617309.0024774374', '5831939.328802893'],
 ['611708.1252837209', '5810941.607093441'],
 ['624587.288906032', '5804929.702500057'],
 ['621296.5692942879', '5800815.514795561'],
 ['627977.894024779', '5837190.116025008'],
 ['622221.4118697754', '5812726.068057888'],
 ['625006.3376003738', '5801317.629326931'],
 ['619179.6673619829', '5804975.888690303'],
 ['622571.5116233849', '5810677.658976615'],
 ['622538.808614498', '5793507.684935416'],
 ['663881.3310321337', '5819362.656008067'],
 ['612645.4745586884', '5802015.346337027'],
 ['626117.997633478', '5797816.943653239'],
 ['632715.261352672', '5800594.768127681'],
 ['627800.2605266174', '5805009.926270005'],
 ['630614.059317564', '5808447.518107862'],
 ['626347.7415066909', '5803044.658260455'],
 ['631936.8364597425', '5803343.499696872'],
 ['626439.5054302008', '5803543.31827748'],
 ['622417.4058072065', '5800553.46908159'],
 ['631720.8696989072', '5802945.74944577'],
 ['634721.2297037619', '5797002.303246303'],
 ['622229.0125777243', '5805083.540420892'],
 ['627729.7850461542', '5803293.255119865'],
 ['626876.6684186896', '5793509.792923043'],
 ['627529.3751975088', '5806133.081530311'],
 ['633054.5286101808', '5807110.365239881'],
 ['627778.4708255312', '5802257.281845482'],
 ['627824.6862298506', '5798341.6594195375'],
 ['626182.3412342268', '5805837.172101415'],
 ['629066.3532160863', '5804670.730245344'],
 ['629550.4845368024', '5801851.662519751'],
 ['652797.8617164586', '5796736.976898357'],
 ['645564.58910898', '5792997.808795572'],
 ['634190.5840807173', '5798245.439029418'],
 ['631434.2716973871', '5807253.568017319'],
 ['649043.4646506609', '5803968.573666105'],
 ['668266.2278936144', '5822429.431999828'],
 ['623895.6317793322', '5804265.177307649'],
 ['622215.3916640203', '5804512.319985754'],
 ['626680.1652569108', '5801800.307974843'],
 ['610101.6962961855', '5805578.852977359'],
 ['622242.2059454226', '5802309.29776526'],
 ['627433.9557665305', '5793710.726633063'],
 ['601552.6736729797', '5753726.898061223'],
 ['635904.8260261895', '5795713.364501396'],
 ['626835.8301055406', '5802905.420776754'],
 ['633135.8799158923', '5820951.033997361'],
 ['628152.8706123764', '5803996.5775785465'],
 ['633348.6001308472', '5803159.289857939'],
 ['596407.3581403007', '5783980.310607473'],
 ['632156.9162939141', '5807222.6648517065'],
 ['627297.2211091159', '5799524.8884751685'],
 ['623048.5891050342', '5802877.583127733'],
 ['626985.1989973595', '5803580.36959258'],
 ['651825.8697936947', '5758245.166124051'],
 ['626423.1192361136', '5804523.872583462'],
 ['628638.5962491486', '5802438.472720283'],
 ['627294.1542455446', '5793746.129077581'],
 ['723970.3319459541', '5752812.76223937'],
 ['627966.6613553434', '5804609.474969223'],
 ['627159.9953890898', '5805149.228850421'],
 ['667186.1270315868', '5765010.555895122'],
 ['631117.0324686705', '5806214.5578134265'],
 ['626188.6465630934', '5803473.371839373'],
 ['590230.3713033098', '5770145.728741395'],
 ['643615.7919105489', '5784359.979251483'],
 ['647840.7968141901', '5793239.214232178'],
 ['592889.9686811859', '5772563.369742473'],
 ['602696.5564157242', '5780514.828153915'],
 ['630209.8012882663', '5806086.868246464'],
 ['612947.3456244128', '5810076.917561807'],
 ['627157.3523703266', '5798159.5178446015'],
 ['632121.017809052', '5801863.684528942'],
 ['632795.8140083316', '5799131.122763344'],
 ['629128.7086677522', '5803533.551470359'],
 ['626065.1728007953', '5804068.631885866'],
 ['628394.9613231056', '5803907.044980777'],
 ['619651.4774822787', '5816443.440536626'],
 ['610868.6496153506', '5807368.084356926'],
 ['628192.3348034925', '5797030.378007975'],
 ['643450.4338649166', '5773350.948113727'],
 ['630219.9742105654', '5802421.460499512'],
 ['632841.4163339497', '5806950.2883751625'],
 ['627704.3616466215', '5803685.286009501'],
 ['632183.8546737471', '5799801.387969275'],
 ['632456.039587451', '5803315.918060132'],
 ['623093.006737301', '5801771.718622386'],
 ['611714.9661976312', '5810613.019914616'],
 ['627475.6583694974', '5799653.89542215'],
 ['629741.8379993077', '5801810.671407145'],
 ['631096.5305873873', '5808499.827643673'],
 ['590673.2110443771', '5765232.615644631'],
 ['661654.1733449874', '5723332.7412434425'],

# Indicateurs pour les vÃ©hicules

In [68]:
input_veh = os.getcwd() + "/OUTPUTS_9h_11h/veh.csv"
veh = pd.read_csv(input_veh, delimiter = ";")
veh

,TIME,ID,TYPE,LINK,POSITION,SPEED,STATE,DISTANCE,PASSENGERS
0,09:00:00.00,175,Car,NaN,NaN,13.80,SERVING,0.00,1031082.0
1,09:00:00.00,174,Car,m46324645 m46329700,NaN,13.80,SERVING,0.00,1067560.0
2,09:00:00.00,173,Car,m46448801 m46447993,NaN,13.80,SERVING,0.00,1044279.0
3,09:00:00.00,172,Car,m4795047522 m949979531,NaN,13.80,SERVING,0.00,1081188.0
4,09:00:00.00,171,Car,m2386931641 m46087374,NaN,13.80,SERVING,0.00,1116804.0
...,...,...,...,...,...,...,...,...,...
244844,11:00:00.00,30348,Car,m46386907 m943792454,630080.997 5804095.810,10.73,SERVING,643.78,1004591.0
244845,11:00:00.00,30350,Car,m3301116661 m46361992,627968.949 5803378.766,10.73,SERVING,643.78,1067723.0
244846,11:00:00.00,30351,Car,m26371852 m46339660,626936.898 5802793.960,10.73,SERVING,643.78,1104106.0
244847,11:00:00.00,30354,Car,m46412389 m46409941,623934.541 5804520.039,10.73,SERVING,643.78,1017722.0
244848,11:00:00.00,30355,Car,m290075213 m46381518,629400.261 5803917.455,10.73,SERVING,643.78,1070965.0

## Distance

In [45]:
dist = veh.groupby(by = 'ID')[['DISTANCE']].agg(['sum','min','max'])
dist

       DISTANCE
            sum  min       max
ID
0      3462.326  0.0  1404.666
1      9864.094  0.0  3036.654
2         0.000  0.0     0.000
3      1666.669  0.0   979.389
4         0.000  0.0     0.000
...         ...  ...       ...
30351   643.780  0.0   643.780
30352     0.000  0.0     0.000
30353     0.000  0.0     0.000
30354   643.780  0.0   643.780
30355   643.780  0.0   643.780

[30356 rows x 3 columns]

## Speed

In [44]:
speed = veh.groupby(by = 'ID')[['SPEED']].agg(['mean','min','max'])
speed

           SPEED
            mean     min   max
ID
0      11.984500  11.298  13.8
1      11.719500  11.157  13.8
2      13.800000  13.800  13.8
3      12.213333  11.385  13.8
4      13.800000  13.800  13.8
...          ...     ...   ...
30351  12.265000  10.730  13.8
30352  13.800000  13.800  13.8
30353  13.800000  13.800  13.8
30354  12.265000  10.730  13.8
30355  12.265000  10.730  13.8

[30356 rows x 3 columns]

## Travel time

In [69]:
time = veh['TIME'].tolist()
#[lambda x :( float(x[:2])*3600 + float(x[3:5])*60 + float(x[6:])) for x in time ]
turn_to_second = lambda x : float(x[:2])*3600 + float(x[3:5])*60 + float(x[6:]) - 9*3600  # Turn to second
for_all = lambda l, f : [f(i) for i in l]
travel_time = for_all(time, turn_to_second)
travel_time

39600.0

In [70]:
veh['TIME'] = travel_time
veh

,TIME,ID,TYPE,LINK,POSITION,SPEED,STATE,DISTANCE,PASSENGERS
0,32400.0,175,Car,NaN,NaN,13.80,SERVING,0.00,1031082.0
1,32400.0,174,Car,m46324645 m46329700,NaN,13.80,SERVING,0.00,1067560.0
2,32400.0,173,Car,m46448801 m46447993,NaN,13.80,SERVING,0.00,1044279.0
3,32400.0,172,Car,m4795047522 m949979531,NaN,13.80,SERVING,0.00,1081188.0
4,32400.0,171,Car,m2386931641 m46087374,NaN,13.80,SERVING,0.00,1116804.0
...,...,...,...,...,...,...,...,...,...
244844,39600.0,30348,Car,m46386907 m943792454,630080.997 5804095.810,10.73,SERVING,643.78,1004591.0
244845,39600.0,30350,Car,m3301116661 m46361992,627968.949 5803378.766,10.73,SERVING,643.78,1067723.0
244846,39600.0,30351,Car,m26371852 m46339660,626936.898 5802793.960,10.73,SERVING,643.78,1104106.0
244847,39600.0,30354,Car,m46412389 m46409941,623934.541 5804520.039,10.73,SERVING,643.78,1017722.0
244848,39600.0,30355,Car,m290075213 m46381518,629400.261 5803917.455,10.73,SERVING,643.78,1070965.0

In [74]:
veh.groupby(by = 'ID').sum()

           TIME   SPEED  DISTANCE  PASSENGERS
ID
0      129960.0  47.938  3462.326   3101727.0
1      195300.0  70.317  9864.094   5232675.0
2       32400.0  13.800     0.000   1035359.0
3       97380.0  36.640  1666.669   2118386.0
4       32400.0  13.800     0.000   1086164.0
...         ...     ...       ...         ...
30351   79140.0  24.530   643.780   2208212.0
30352   39540.0  13.800     0.000   1091688.0
30353   39540.0  13.800     0.000   1111118.0
30354   79140.0  24.530   643.780   2035444.0
30355   79140.0  24.530   643.780   2141930.0

[30356 rows x 4 columns]

##