# Missing users 9h-11h

In [130]:
import pandas as pd
import numpy as np
import os
import itertools
import random
import utm

In [133]:
input_path1 = os.getcwd() + "/OUTPUTS_all_in_city_9h_11h/path.csv"
input_path2 = os.getcwd() + "/INPUTS/all_in_city_9h_11h.csv"
Output = pd.read_csv(input_path1, delimiter = ';')
Input = pd.read_csv(input_path2, delimiter = ';')
listID_in = Input['ID'].tolist()
listID_out = Output['ID'].tolist()

In [134]:
def diff(l1, l2):   # return a list of lost users
    difference = list(set(l1).symmetric_difference(set(l2)))
    return difference

In [135]:
Input

,ID,DEPARTURE,ORIGIN,DESTINATION
0,1019364,09:00:00,624582.3745792772 5804534.655578803,629710.7661285868 5800457.757434935
1,958538,09:00:00,632702.7201595015 5810224.264716751,632339.2294622243 5797212.880052918
2,1015419,09:00:00,630119.0003458913 5807102.019045829,629401.457820961 5809413.341770453
3,1033909,09:00:00,627217.3355998315 5805188.024605306,627313.6303041776 5804683.771269505
4,1122860,09:00:00,633434.4205306872 5800327.508477634,632524.5993621239 5801905.183290979
...,...,...,...,...
35590,1070965,10:59:59,629803.298545834 5803355.934991494,629356.767976942 5803970.17099203
35591,1094097,11:00:00,630629.0367625962 5801999.458889815,630982.3969120757 5802597.144638936
35592,1084155,11:00:00,625513.0253870577 5800572.022440629,627467.7036338786 5801350.716498636
35593,1009137,11:00:00,627447.8930314172 5798526.938363666,629898.2484026412 5805817.793417794
35594,1128850,11:00:00,628537.9069909995 5799489.423956457,624386.9065062173 5795685.807161619

In [152]:
Output

,ID,COST,PATH,LENGTH,SERVICE
0,1019364,753.215226,ORIGIN_463 m46443108 m46443464 m46443128 m4644...,8734.373914,PersonalVehicle
1,958538,1598.196449,ORIGIN_522 m285508303 m46587350 m46587506 m465...,20466.281623,PersonalVehicle
2,1015419,433.482573,ORIGIN_493 m46519132 m4629692572 m46522643 m46...,3524.382900,PersonalVehicle
3,1033909,2.734769,ORIGIN_464 m46438252 DESTINATION_464,3.883372,PersonalVehicle
4,1122860,490.406421,ORIGIN_411 m46226031 m46234700 m46234736 m4622...,5204.571438,PersonalVehicle
...,...,...,...,...,...
34424,1115944,1630.347844,ORIGIN_465 m3190234876 m1565648188 m1118708299...,13969.986944,PersonalVehicle
34425,1070965,564.211884,ORIGIN_437 m84486707 m46331616 m1525015196 m15...,3078.613741,PersonalVehicle
34426,1094097,323.846999,ORIGIN_437 m84486707 m46331616 m1525015196 m15...,2956.862039,PersonalVehicle
34427,1084155,306.861601,ORIGIN_407 m4633328552 m46234500 m46234778 m46...,2994.476462,PersonalVehicle
34428,1009137,1379.975236,ORIGIN_380 m46146624 m46147142 m4103562370 m46...,10217.457557,PersonalVehicle

## Percentage of users found

In [153]:
idOut = Output.ID.tolist()
idIn = Input.ID.to_list()
print ("percentage of finding user: " + "{0:.0%}".format(len(set(idOut)) / len(set(idIn))))

percentage of finding user: 97%

## Missing part of user

In [154]:
def missingData(inputDataframe, listID_in, listID_out):
    missing = diff(listID_in, listID_out)
    indexUser = [Input.index[Input['ID'] == i].tolist() for i in missing]  # index of missing user
    indexUser = list(itertools.chain.from_iterable(indexUser))
    return Input.iloc[indexUser]

In [138]:
df_missing = missingData(Input, listID_in, listID_out)
df_missing

,ID,DEPARTURE,ORIGIN,DESTINATION
22148,1310743,10:19:06,629516.0030987657 5803041.088138838,622134.832309049 5795422.854505211
24316,1048616,10:26:33,626750.1937311369 5803857.030713063,630576.3552932777 5798625.9269568315
9077,1048691,09:21:56,625994.6111860399 5803104.322472489,622153.8568623343 5798274.575956808
734,1638527,09:01:46,623222.3060497161 5809930.597505666,628516.0324350919 5803489.2816736465
15379,983202,09:45:58,625211.8264193003 5810221.765439114,629164.5617305066 5804166.525509925
...,...,...,...,...
30742,1113845,10:45:47,624879.7101665467 5810177.090008756,633954.0091431895 5795963.661617139
9479,1048309,09:22:55,626201.4239205915 5803154.740379039,629325.6710015375 5796760.34834227
26839,1113868,10:34:32,634268.1582760159 5797820.234783638,624804.5873931504 5809659.6469628615
2173,982871,09:05:07,626982.8294077505 5807346.114983573,624404.3026659425 5810383.893081881
21541,982871,10:16:52,624404.3026659425 5810383.893081881,629493.5253753739 5799691.526544928

In [139]:
#df.sort_values(by = 'ID')

In [140]:
def bounding(df):
    O = df.ORIGIN.tolist()  
    D = df.DESTINATION.tolist()
    l = O + D  # Concatenate 2 2D lists
    coord = np.array([x.split() for x in l])
    Xmin = min(float(x[0]) for x in coord)
    Ymin = min(float(x[1]) for x in coord)
    Xmax = max(float(x[0]) for x in coord)
    Ymax = max(float(x[1]) for x in coord)
    return Xmin, Xmax, Ymin, Ymax

In [141]:
# Highway coordinates
x, y, zone, ut = utm.from_latlon(52.33897076764408, 4.8261031256321365)
(x,y)

(624408.5720968425, 5800310.2899306165)

## All in city

In [142]:
def in_out_city(df):
    O = df.ORIGIN.tolist()  
    D = df.DESTINATION.tolist()
    ID = df.ID.tolist()  ## no use
    array_O = np.array([x.split() for x in O])
    array_D = np.array([x.split() for x in D])
    coord_O = array_O.astype(float)
    coord_D = array_D.astype(float)
    # Bounding of city Amsterdam
    (xmin, ymin, xmax, ymax) = (621225.6754145394, 5795122.850697235, 635225.6754145394, 5810622.850697235)
    In = lambda x, y : x <= xmax and x >= xmin and y <= ymax and y>= ymin  # if between xmin and xmax
    Out = lambda x, y : x > xmax or x < xmin or y > ymax or y < ymin   # if not
    (in_in, in_out, out_in, out_out) = (0, 0, 0, 0)
    for i in range(len(O)):
        if In(coord_O[i][0], coord_O[i][1]) & In(coord_D[i][0], coord_D[i][1]):
            in_in+=1
        elif In(coord_O[i][0], coord_O[i][1]) & Out(coord_D[i][0], coord_D[i][1]):
            in_out+=1
        elif Out(coord_O[i][0], coord_O[i][1]) & In(coord_D[i][0], coord_D[i][1]):
            out_in+=1
        elif Out(coord_O[i][0], coord_O[i][1]) & Out(coord_D[i][0], coord_D[i][1]):
            out_out+=1
    per_in_in = (in_in / len(df))*100
    per_in_out = (in_out / len(df))*100
    per_out_in = (out_in / len(df))*100
    per_out_out = (out_out / len(df))*100
    sum_out = in_out + out_in + out_out
    return per_in_in, per_in_out, per_out_in, per_out_out, sum_out

In [143]:
(a,b,c,d,e) = in_out_city(Input)
print("in_in_city :", "{0:.0f}%".format(a), "in_out_city :", "{0:.0f}%".format(b), "out_in_city :", "{0:.0f}%".format(c), "out_out_city :","{0:.0f}%".format(d), "sum_out :", e)

in_in_city : 100% in_out_city : 0% out_in_city : 0% out_out_city : 0% sum_out : 0

In [144]:
(a,b,c,d,e) = in_out_city(df_missing)
print("in_in_city :", "{0:.0f}%".format(a), "in_out_city :", "{0:.0f}%".format(b), "out_in_city :", "{0:.0f}%".format(c), "out_out_city :","{0:.0f}%".format(d), "sum_out :", e)

in_in_city : 100% in_out_city : 0% out_in_city : 0% out_out_city : 0% sum_out : 0

In [14]:
##
O = Input.ORIGIN.tolist()
coord_O = np.array([x.split() for x in O])
y = coord_O.astype(float)
y[0][1]

5804534.655578803

In [15]:
##
x1,x2,y1,y2 = bounding(Input)
print('Xmin :', x1, 'Ymin :', x2, 'Xmax :', y1, 'Ymax :', y2)

Xmin : 565468.5380879932 Ymin : 773275.7797587274 Xmax : 5541622.850697235 Ymax : 5902899.484527369

In [108]:
##
for i in range(10) :
    num2 = random.uniform(621225.6754145394, 635225.6754145394)
    print(num2)

623852.243575986
631721.6044694724
627079.4518063432
623347.6555345493
630088.8014879581
628461.6559764341
631650.3067514739
626877.8967744128
623790.0070224537
629487.7126732288

In [100]:
## Modifie the departure or destination coordinate
def all_in_city(df):
    O = df.ORIGIN.tolist()  
    D = df.DESTINATION.tolist()
    ID = df.ID.tolist()
    Departure = df.DEPARTURE.tolist()
    l_O = [x.split() for x in O]
    l_D = [x.split() for x in D]
    index = []
    (xmin, ymin, xmax, ymax) = (621225.6754145394, 5795122.850697235, 635225.6754145394, 5810622.850697235)
    In = lambda x, y : x <= xmax and x >= xmin and y <= ymax and y>= ymin  # if between xmin and xmax
    Out = lambda x, y : x > xmax or x < xmin or y > ymax or y < ymin   # if not
    in_x = lambda x: str(random.uniform(xmin, xmax)) if (x>xmax or x<xmin) else x
    in_y = lambda y: str(random.uniform(ymin, ymax)) if (y>xmax or y<xmin) else y
    remove = lambda l : [l.pop(x) for x in sorted(index, reverse = True)]
    combine = lambda l : ['%s %s' % (l[x][0], l[x][1]) for x in range(len(l))]
    for i in range(len(l_O)):
        if not (In(float(l_O[i][0]), float(l_O[i][1])) & In(float(l_D[i][0]), float(l_D[i][1]))):
            if In(float(l_O[i][0]), float(l_O[i][1])) & Out(float(l_D[i][0]), float(l_D[i][1])):
                l_D[i][0] = str(in_x(float(l_D[i][0])))
                l_D[i][1] = str(in_y(float(l_D[i][1])))
            elif Out(float(l_O[i][0]), float(l_O[i][1])) & In(float(l_D[i][0]), float(l_D[i][1])):
                l_O[i][0] = str(in_x(float(l_O[i][0])))
                l_O[i][1] = str(in_y(float(l_O[i][1])))
            else:        # out_out -> remove all
                index.append(i)
    remove(ID)
    remove(l_O) 
    remove(l_D)
    remove(Departure)
    l_O = combine(l_O)
    l_D = combine(l_D)
    tmp = list(zip(ID, Departure, l_O, l_D))
    df = pd.DataFrame(tmp, columns = ['ID', 'DEPARTURE', 'ORIGIN', 'DESTINATION'])
    return df

In [101]:
# Test 9h-11h
df = all_in_city(Input)
df

,ID,DEPARTURE,ORIGIN,DESTINATION
0,1019364,09:00:00,624582.3745792772 5804534.655578803,629710.7661285868 5800457.757434935
1,958538,09:00:00,632702.7201595015 5810224.264716751,632339.2294622243 5797212.880052918
2,1015419,09:00:00,630119.0003458913 5807102.019045829,629401.457820961 5809413.341770453
3,1033909,09:00:00,627217.3355998315 5805188.024605306,627313.6303041776 5804683.771269505
4,1122860,09:00:00,633434.4205306872 5800327.508477634,632524.5993621239 5801905.183290979
...,...,...,...,...
35590,1070965,10:59:59,629803.298545834 5803355.934991494,629356.767976942 5803970.17099203
35591,1094097,11:00:00,630629.0367625962 5801999.458889815,630982.3969120757 5802597.144638936
35592,1084155,11:00:00,625513.0253870577 5800572.022440629,627467.7036338786 5801350.716498636
35593,1009137,11:00:00,627447.8930314172 5798526.938363666,629898.2484026412 5805817.793417794
35594,1128850,11:00:00,628537.9069909995 5799489.423956457,624386.9065062173 5795685.807161619

In [165]:
test_9h_11h = pd.read_csv(os.getcwd() + "/INPUTS/test_9h_11h.csv", delimiter = ';')
(a,b,c,d,e) = in_out_city(test_9h_11h)
print("in_in_city :", "{0:.0f}%".format(a), "in_out_city :", "{0:.0f}%".format(b), "out_in_city :", "{0:.0f}%".format(c), "out_out_city :","{0:.0f}%".format(d), "sum_out :", e)

in_in_city : 55% in_out_city : 11% out_in_city : 10% out_out_city : 24% sum_out : 21006

In [160]:
# Test 6h-20h
all_agent = pd.read_csv(os.getcwd() + "/INPUTS/test_6h_20h.csv", delimiter = ';')
agent = all_in_city(all_agent)
agent

,ID,DEPARTURE,ORIGIN,DESTINATION
0,1101033,06:00:00,632282.6418020834 5801707.366598499,632062.0681906 5802004.403086661
1,1089814,06:00:00,626721.0636507642 5798503.632446792,622309.477087811 5795980.005438486
2,993356,06:00:00,633038.5126445848 5810242.944329677,623762.9855951864 5800949.619838926
3,1218801,06:00:02,621654.6490979553 5802504.365526367,631238.0300638282 5806467.613979217
4,378637,06:00:03,625703.0204576604 5807287.318981546,633558.0593030814 5795612.615837722
...,...,...,...,...
394081,1092728,20:00:00,629686.0420486864 5802452.289847546,630601.1897881002 5802171.0732132085
394082,1118191,20:00:00,634737.5917461815 5795176.147458445,634974.4686226456 5795191.335723182
394083,1121694,20:00:00,635160.1586789726 5801507.30883727,632455.3112034239 5798521.229345774
394084,1125339,20:00:00,632120.0220604875 5799685.668698785,631765.334638351 5799745.078005204
394085,1101993,20:00:00,624685.4124701229 5803547.622719254,631969.7955607226 5804771.933843378

In [164]:
(a,b,c,d,e) = in_out_city(all_agent)
print("in_in_city :", "{0:.0f}%".format(a), "in_out_city :", "{0:.0f}%".format(b), "out_in_city :", "{0:.0f}%".format(c), "out_out_city :","{0:.0f}%".format(d), "sum_out :", e)

in_in_city : 48% in_out_city : 13% out_in_city : 13% out_out_city : 26% sum_out : 277611

## Convert df to csv file

In [161]:
agent.to_csv('all_in_city_6h_20h.csv', sep = ';', index = False)

In [163]:
(a,b,c,d,e) = in_out_city(agent)
print("in_in_city :", "{0:.0f}%".format(a), "in_out_city :", "{0:.0f}%".format(b), "out_in_city :", "{0:.0f}%".format(c), "out_out_city :","{0:.0f}%".format(d), "sum_out :", e)

in_in_city : 100% in_out_city : 0% out_in_city : 0% out_out_city : 0% sum_out : 0

# Indicateurs pour les véhicules

In [180]:
input_veh = os.getcwd() + "/OUTPUTS_all_in_city_9h_11h/veh.csv"
veh = pd.read_csv(input_veh, delimiter = ";")
veh

,TIME,ID,TYPE,LINK,POSITION,SPEED,STATE,DISTANCE,PASSENGERS
0,09:00:00.00,214,Car,m4621843969 m46442080,NaN,13.800,SERVING,0.000,954610.0
1,09:00:00.00,213,Car,NaN,NaN,13.800,SERVING,0.000,1031082.0
2,09:00:00.00,212,Car,m84486707 m300170947,NaN,13.800,SERVING,0.000,1067560.0
3,09:00:00.00,211,Car,m46443108 m46443464,NaN,13.800,SERVING,0.000,1044279.0
4,09:00:00.00,210,Car,m46436071 m46433671,NaN,13.800,SERVING,0.000,1035539.0
...,...,...,...,...,...,...,...,...,...
311494,11:36:00.00,34179,Car,m46576068 m46586255,634053.373 5810478.954,11.499,STOP,22656.531,NaN
311495,11:36:00.00,34266,Car,m46064509 m46059514,628792.243 5795542.933,11.499,SERVING,22455.080,1014484.0
311496,11:37:00.00,34070,Car,m46584537 m46585577,629851.828 5810342.251,11.499,STOP,24829.012,NaN
311497,11:37:00.00,34266,Car,m46057134 m46046972,629426.168 5795272.296,11.499,SERVING,23145.040,1014484.0
311498,11:38:00.00,34266,Car,m46046972 m46046631,629530.012 5795222.478,11.500,STOP,23260.140,NaN

## Trajectory  of vehicle

In [183]:
## Mouvement for ID = 174
def df_a_vehicle(df, idNumber):
    ID = veh['ID'].tolist()
    #Link = veh['link'].tolist()
    indices = [i for i, x in enumerate(ID) if x == idNumber]
    #df.drop(indices, axis=0, inplace=True)
    dataframe = df.loc[indices]
    return dataframe

In [192]:
df_a_vehicle(veh, 34179)

,TIME,ID,TYPE,LINK,POSITION,SPEED,STATE,DISTANCE,PASSENGERS
293441,11:02:00.00,34179,Car,m46054099 m46056948,NaN,13.800,SERVING,0.000,1162897.0
295653,11:03:00.00,34179,Car,m46069653 m46074348,631919.179 5795873.420,10.749,SERVING,644.920,1162897.0
297708,11:04:00.00,34179,Car,m46074348 m46095220,631785.160 5796360.346,10.816,SERVING,1293.860,1162897.0
299547,11:05:00.00,34179,Car,m46095220 m46112646,631441.154 5796864.099,10.887,SERVING,1947.080,1162897.0
301158,11:06:00.00,34179,Car,m46123070 m46128874,631652.010 5797287.678,10.963,SERVING,2604.860,1162897.0
302588,11:07:00.00,34179,Car,m1120554242 m46138128,631930.596 5797674.258,11.025,SERVING,3266.340,1162897.0
303826,11:08:00.00,34179,Car,m46138128 m46161304,631591.853 5798243.511,11.091,SERVING,3931.800,1162897.0
304918,11:09:00.00,34179,Car,m46168840 m46190987,631422.085 5798819.841,11.139,SERVING,4600.120,1162897.0
305862,11:10:00.00,34179,Car,m46195116 m46199708,631263.868 5799457.087,11.188,SERVING,5271.380,1162897.0
306693,11:11:00.00,34179,Car,m46219852 m4072288194,631007.562 5800035.017,11.227,SERVING,5944.980,1162897.0
307423,11:12:00.00,34179,Car,m4072288194 m4628394742,630789.764 5800674.111,11.257,SERVING,6620.400,1162897.0
308061,11:13:00.00,34179,Car,m46272216 m1223625936,630759.119 5801194.709,11.288,SERVING,7297.680,1162897.0
308618,11:14:00.00,34179,Car,m817691269 m4620947740,631368.999 5801409.985,11.317,SERVING,7976.700,1162897.0
309102,11:15:00.00,34179,Car,m46297031 m46300262,631858.348 5801883.290,11.340,SERVING,8657.100,1162897.0
309514,11:16:00.00,34179,Car,m46313531 m4622218684,632094.957 5802373.313,11.364,SERVING,9338.960,1162897.0
309857,11:17:00.00,34179,Car,m46331558 m1595259772,632089.527 5803005.587,11.387,SERVING,10022.200,1162897.0
310147,11:18:00.00,34179,Car,m1595305999 m3316951526,632612.492 5803309.923,11.405,SERVING,10706.480,1162897.0
310391,11:19:00.00,34179,Car,m46359758 m46373679,633128.452 5803464.136,11.420,SERVING,11391.660,1162897.0
310593,11:20:00.00,34179,Car,m46373679 m46381992,633600.301 5803954.522,11.434,SERVING,12077.700,1162897.0
310769,11:21:00.00,34179,Car,m46402411 m46410416,633651.370 5804629.756,11.442,SERVING,12764.200,1162897.0
310919,11:22:00.00,34179,Car,m46410416 m46431344,634039.493 5805194.021,11.450,SERVING,13451.200,1162897.0
311052,11:23:00.00,34179,Car,m46453564 m4620948082,634004.745 5805825.200,11.457,SERVING,14138.600,1162897.0
311161,11:24:00.00,34179,Car,m46469617 m447859260,633552.798 5806126.581,11.464,SERVING,14826.440,1162897.0
311246,11:25:00.00,34179,Car,m4623269507 m4620947766,633164.391 5806508.384,11.472,SERVING,15514.780,1162897.0
311306,11:26:00.00,34179,Car,m46497049 m46498725,632786.838 5807042.861,11.480,SERVING,16203.600,1162897.0
311352,11:27:00.00,34179,Car,m4687250723 m46512484,633187.989 5807490.690,11.485,SERVING,16892.680,1162897.0
311393,11:28:00.00,34179,Car,m46523070 m3315109979,633555.395 5808042.105,11.487,SERVING,17581.900,1162897.0
311422,11:29:00.00,34179,Car,m46536561 m46540190,633873.380 5808509.673,11.490,SERVING,18271.320,1162897.0
311446,11:30:00.00,34179,Car,m46545632 m46555233,634282.425 5808965.317,11.492,SERVING,18960.840,1162897.0
311464,11:31:00.00,34179,Car,m46555233 m125587405,634828.181 5809357.462,11.495,SERVING,19650.520,1162897.0
311475,11:32:00.00,34179,Car,m125587405 m1695924166,635181.643 5809802.734,11.497,SERVING,20340.340,1162897.0
311482,11:33:00.00,34179,Car,m46577971 m46587218,635192.905 5810351.252,11.498,SERVING,21030.220,1162897.0
311487,11:34:00.00,34179,Car,m46587218 m46575597,634689.657 5810281.599,11.498,SERVING,21720.120,1162897.0
311491,11:35:00.00,34179,Car,m46576068 m46586255,634197.990 5810279.370,11.499,SERVING,22410.060,1162897.0
311494,11:36:00.00,34179,Car,m46576068 m46586255,634053.373 5810478.954,11.499,STOP,22656.531,NaN

In [119]:
ID = veh['ID'].tolist()
indices

[1, 311, 697, 1358, 2279]

## Distance

In [45]:
dist = veh.groupby(by = 'ID')[['DISTANCE']].agg(['sum','min','max'])
dist

       DISTANCE
            sum  min       max
ID
0      3462.326  0.0  1404.666
1      9864.094  0.0  3036.654
2         0.000  0.0     0.000
3      1666.669  0.0   979.389
4         0.000  0.0     0.000
...         ...  ...       ...
30351   643.780  0.0   643.780
30352     0.000  0.0     0.000
30353     0.000  0.0     0.000
30354   643.780  0.0   643.780
30355   643.780  0.0   643.780

[30356 rows x 3 columns]

## Speed

In [44]:
speed = veh.groupby(by = 'ID')[['SPEED']].agg(['mean','min','max'])
speed

           SPEED
            mean     min   max
ID
0      11.984500  11.298  13.8
1      11.719500  11.157  13.8
2      13.800000  13.800  13.8
3      12.213333  11.385  13.8
4      13.800000  13.800  13.8
...          ...     ...   ...
30351  12.265000  10.730  13.8
30352  13.800000  13.800  13.8
30353  13.800000  13.800  13.8
30354  12.265000  10.730  13.8
30355  12.265000  10.730  13.8

[30356 rows x 3 columns]

## Travel time

In [69]:
time = veh['TIME'].tolist()
#[lambda x :( float(x[:2])*3600 + float(x[3:5])*60 + float(x[6:])) for x in time ]
turn_to_second = lambda x : float(x[:2])*3600 + float(x[3:5])*60 + float(x[6:]) - 9*3600  # Turn to second
for_all = lambda l, f : [f(i) for i in l]
travel_time = for_all(time, turn_to_second)
travel_time

39600.0

In [70]:
veh['TIME'] = travel_time
veh

,TIME,ID,TYPE,LINK,POSITION,SPEED,STATE,DISTANCE,PASSENGERS
0,32400.0,175,Car,NaN,NaN,13.80,SERVING,0.00,1031082.0
1,32400.0,174,Car,m46324645 m46329700,NaN,13.80,SERVING,0.00,1067560.0
2,32400.0,173,Car,m46448801 m46447993,NaN,13.80,SERVING,0.00,1044279.0
3,32400.0,172,Car,m4795047522 m949979531,NaN,13.80,SERVING,0.00,1081188.0
4,32400.0,171,Car,m2386931641 m46087374,NaN,13.80,SERVING,0.00,1116804.0
...,...,...,...,...,...,...,...,...,...
244844,39600.0,30348,Car,m46386907 m943792454,630080.997 5804095.810,10.73,SERVING,643.78,1004591.0
244845,39600.0,30350,Car,m3301116661 m46361992,627968.949 5803378.766,10.73,SERVING,643.78,1067723.0
244846,39600.0,30351,Car,m26371852 m46339660,626936.898 5802793.960,10.73,SERVING,643.78,1104106.0
244847,39600.0,30354,Car,m46412389 m46409941,623934.541 5804520.039,10.73,SERVING,643.78,1017722.0
244848,39600.0,30355,Car,m290075213 m46381518,629400.261 5803917.455,10.73,SERVING,643.78,1070965.0

In [74]:
veh.groupby(by = 'ID').sum()

           TIME   SPEED  DISTANCE  PASSENGERS
ID
0      129960.0  47.938  3462.326   3101727.0
1      195300.0  70.317  9864.094   5232675.0
2       32400.0  13.800     0.000   1035359.0
3       97380.0  36.640  1666.669   2118386.0
4       32400.0  13.800     0.000   1086164.0
...         ...     ...       ...         ...
30351   79140.0  24.530   643.780   2208212.0
30352   39540.0  13.800     0.000   1091688.0
30353   39540.0  13.800     0.000   1111118.0
30354   79140.0  24.530   643.780   2035444.0
30355   79140.0  24.530   643.780   2141930.0

[30356 rows x 4 columns]

##

## bla